### Step 0
Load the energy data from the file `Energy Indicators.xls`, which is a list of indicators of [energy supply and renewable electricity production](Energy%20Indicators.xls) from the [United Nations](http://unstats.un.org/unsd/environment/excel_file_tables/2013/Energy%20Indicators.xls) for the year 2013, and should be put into a DataFrame with the variable name of **energy**.

Keep in mind that this is an Excel file, and not a comma separated values file. Also, make sure to exclude the footer and header information from the datafile. The first two columns are unneccessary, so you should get rid of them, and you should change the column labels so that the columns are:

`['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable']`

Convert `Energy Supply` to gigajoules (there are 1,000,000 gigajoules in a petajoule). For all countries which have missing data (e.g. data with "...") make sure this is reflected as `np.NaN` values.

Rename the following list of countries (for use in later questions):

```"Republic of Korea": "South Korea",
"United States of America": "United States",
"United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
"China, Hong Kong Special Administrative Region": "Hong Kong"```

There are also several countries with numbers and/or parenthesis in their name. Be sure to remove these, 

e.g. 

`'Bolivia (Plurinational State of)'` should be `'Bolivia'`, 

`'Switzerland17'` should be `'Switzerland'`.

In [84]:
import pandas as pd
energy = pd.read_excel("data/Energy Indicators.xls", skiprows=17, skipfooter=38)
energy.head(10)
#energy.tail(10)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Petajoules,Gigajoules,%
0,NaN,Afghanistan,Afghanistan,321,10,78.669280
1,NaN,Albania,Albania,102,35,100.000000
2,NaN,Algeria,Algeria,1959,51,0.551010
3,NaN,American Samoa,American Samoa,...,...,0.641026
4,NaN,Andorra,Andorra,9,121,88.695650
5,NaN,Angola,Angola,642,27,70.909090
6,NaN,Anguilla,Anguilla,2,136,0.000000
7,NaN,Antigua and Barbuda,Antigua and Barbuda,8,84,0.000000
8,NaN,Argentina,Argentina,3378,79,24.064520
9,NaN,Armenia,Armenia,143,48,28.236060

In [85]:
energy.shape

(227, 6)

In [86]:
energy.drop(columns=['Unnamed: 0', 'Unnamed: 1'], axis=1, inplace=True)

In [87]:
energy.head()

       Unnamed: 2 Petajoules Gigajoules           %
0     Afghanistan        321         10   78.669280
1         Albania        102         35  100.000000
2         Algeria       1959         51    0.551010
3  American Samoa        ...        ...    0.641026
4         Andorra          9        121   88.695650

In [88]:
energy.shape

(227, 4)

In [89]:
energy.rename(columns={'Unnamed: 2':'Country', 'Petajoules':'Energy Supply', 'Gigajoules':'Energy Supply per Capita', '%':'% Renewable'}, inplace=True)

In [90]:
energy.dtypes

Country                      object
Energy Supply                object
Energy Supply per Capita     object
% Renewable                 float64
dtype: object

In [91]:
energy['Energy Supply'] = energy['Energy Supply'].apply(lambda x : x*1000000 if x != '...' else x)

In [92]:
energy.head()

          Country Energy Supply Energy Supply per Capita  % Renewable
0     Afghanistan     321000000                       10    78.669280
1         Albania     102000000                       35   100.000000
2         Algeria    1959000000                       51     0.551010
3  American Samoa           ...                      ...     0.641026
4         Andorra       9000000                      121    88.695650

In [93]:
import numpy as np
energy.replace('...', np.nan, inplace=True)

In [94]:
energy.sample(200)

,Country,Energy Supply,Energy Supply per Capita,% Renewable
51,Croatia,3.210000e+08,75.0,64.284120
95,Iceland,3.120000e+08,957.0,99.972400
104,Jamaica,1.080000e+08,39.0,5.615602
218,Uruguay,1.960000e+08,58.0,71.605040
138,Mozambique,4.690000e+08,18.0,94.630870
140,Namibia,6.300000e+07,27.0,95.794390
135,Montenegro,4.200000e+07,67.0,65.581520
208,Turkmenistan,1.102000e+09,210.0,0.000000
126,Mali,6.600000e+07,4.0,64.768210
223,Wallis and Futuna Islands,0.000000e+00,26.0,0.000000
101,Isle of Man,0.000000e+00,4.0,0.793651
31,Bulgaria,7.030000e+08,97.0,17.234610
102,Israel,9.970000e+08,128.0,0.872525
200,Thailand,5.336000e+09,79.0,4.305189
94,Hungary,9.470000e+08,95.0,3.263634
129,Martinique,3.300000e+07,84.0,2.607710
202,Timor-Leste,7.000000e+06,6.0,0.000000
57,Democratic Republic of the Congo,8.880000e+08,12.0,99.594300
197,Switzerland17,1.113000e+09,136.0,57.745480
216,United States of America20,9.083800e+10,286.0,11.570980
89,Guinea,1.450000e+08,12.0,48.442210
114,Latvia,1.830000e+08,91.0,48.832340
58,Denmark5,7.250000e+08,129.0,33.537660
222,Viet Nam,2.554000e+09,28.0,45.321520
133,Micronesia (Federated States of),2.000000e+06,21.0,2.941176
188,South Africa,6.341000e+09,119.0,1.687019
123,Malawi,1.010000e+08,6.0,89.135650
83,Greenland7,9.000000e+06,166.0,78.125000
72,Finland,1.374000e+09,252.0,19.536570
60,Dominica,2.000000e+06,28.0,36.633660
...,...,...,...,...
36,Cameroon,3.070000e+08,14.0,70.886260
158,Peru,8.580000e+08,28.0,51.968610
142,Nepal,4.580000e+08,16.0,99.680510
145,New Zealand,8.760000e+08,196.0,72.873130
175,Samoa,4.000000e+06,22.0,31.355930
213,United Arab Emirates,2.710000e+09,300.0,0.000000
1,Albania,1.020000e+08,35.0,100.000000
40,Chad,7.700000e+07,6.0,0.000000
74,French Guiana,1.300000e+07,52.0,62.004660
41,Chile,1.613000e+09,92.0,28.006570
65,Equatorial Guinea,7.300000e+07,91.0,6.363636
169,Rwanda,9.500000e+07,9.0,35.835350
38,Cayman Islands,8.000000e+06,131.0,0.000000
5,Angola,6.420000e+08,27.0,70.909090
108,Kazakhstan,3.548000e+09,208.0,8.112784
13,Azerbaijan,5.670000e+08,60.0,6.384345
159,Philippines,1.781000e+09,18.0,26.172640
96,India,3.319500e+10,26.0,14.969080
219,Uzbekistan,1.798000e+09,62.0,21.328410
33,Burundi,5.800000e+07,6.0,86.792450
115,Lebanon,2.890000e+08,55.0,6.610478
61,Dominican Republic,3.390000e+08,33.0,11.250600
193,Sudan,6.080000e+08,16.0,78.410480
161,Portugal13,8.990000e+08,86.0,53.340300
67,Estonia,2.580000e+08,195.0,4.180791
79,Germany,1.326100e+10,165.0,17.901530
8,Argentina,3.378000e+09,79.0,24.064520
17,Barbados,1.900000e+07,69.0,0.000000
199,Tajikistan,1.060000e+08,13.0,99.742920
157,Paraguay,2.280000e+08,35.0,99.995030

In [95]:
energy['Country'].replace("Republic of Korea", "South Korea", inplace=True)
energy['Country'].replace("United States of America", "United States", inplace=True)
energy['Country'].replace("United Kingdom of Great Britain and Northern Ireland", "United Kingdom", inplace=True)
energy['Country'].replace("China, Hong Kong Special Administrative Region", "Hong Kong", inplace=True)

In [99]:
import re
def clean_name(name):
    c_n = ''.join([item for item in name if not item.isdigit()])
    index = c_n.find('(')
    if index != -1:
        c_n = c_n[0:index]
    return c_n

In [102]:
energy['Country'] = energy['Country'].apply(clean_name)

In [104]:
energy.head(20)

                Country  Energy Supply  Energy Supply per Capita  % Renewable
0           Afghanistan   3.210000e+08                      10.0    78.669280
1               Albania   1.020000e+08                      35.0   100.000000
2               Algeria   1.959000e+09                      51.0     0.551010
3        American Samoa            NaN                       NaN     0.641026
4               Andorra   9.000000e+06                     121.0    88.695650
5                Angola   6.420000e+08                      27.0    70.909090
6              Anguilla   2.000000e+06                     136.0     0.000000
7   Antigua and Barbuda   8.000000e+06                      84.0     0.000000
8             Argentina   3.378000e+09                      79.0    24.064520
9               Armenia   1.430000e+08                      48.0    28.236060
10                Aruba   1.200000e+07                     120.0    14.870690
11            Australia   5.386000e+09                     231.0    11.810810
12              Austria   1.391000e+09                     164.0    72.452820
13           Azerbaijan   5.670000e+08                      60.0     6.384345
14              Bahamas   4.500000e+07                     118.0     0.000000
15              Bahrain   5.740000e+08                     425.0     0.000000
16           Bangladesh   1.625000e+09                      10.0     1.966329
17             Barbados   1.900000e+07                      69.0     0.000000
18              Belarus   1.142000e+09                     120.0     0.463389
19              Belgium   2.338000e+09                     210.0     9.959739

### Step 1
<br>

Next, load the GDP data from the file `world_bank.csv`, which is a csv containing countries' GDP from 1960 to 2015 from [World Bank](http://data.worldbank.org/indicator/NY.GDP.MKTP.CD). Call this DataFrame **GDP**. 

Make sure to skip the header, and rename the following list of countries:

```"Korea, Rep.": "South Korea", 
"Iran, Islamic Rep.": "Iran",
"Hong Kong SAR, China": "Hong Kong"```

<br>

In [105]:
GDP = pd.read_csv("data/world_bank.csv", skiprows=4)
GDP.head()
#GDP.tail()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

In [106]:
GDP['Country Name'].replace("Korea, Rep.", "South Korea", inplace=True)
GDP['Country Name'].replace("Iran, Islamic Rep.", "Iran", inplace=True)
GDP['Country Name'].replace("Hong Kong SAR, China", "Hong Kong", inplace=True)

### Step 2
Finally, load the [Sciamgo Journal and Country Rank data for Energy Engineering and Power Technology](http://www.scimagojr.com/countryrank.php?category=2102) from the file `scimagojr-3.xlsx`, which ranks countries based on their journal contributions in the aforementioned area. Call this DataFrame **ScimEn**.

In [107]:
ScimEn = pd.read_excel("data/scimagojr-3.xlsx")
ScimEn.head(15)

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57
5,6,Canada,17899,17620,215003,40930,12.01,149
6,7,Germany,17027,16831,140566,27426,8.26,126
7,8,India,15005,14841,128763,37209,8.58,115
8,9,France,13153,12973,130632,28601,9.93,114
9,10,South Korea,11983,11923,114675,22595,9.57,104
10,11,Italy,10964,10794,111850,26661,10.20,106
11,12,Spain,9428,9330,123336,23964,13.08,115
12,13,Iran,8896,8819,57470,19125,6.46,72
13,14,Australia,8831,8725,90765,15606,10.28,107
14,15,Brazil,8668,8596,60702,14396,7.00,86

### Step 3
Join the three datasets: GDP, Energy, and ScimEn into a new dataset (using the intersection of country names). Use only the last 10 years (2006-2015) of GDP data and only the top 15 countries by Scimagojr 'Rank' (Rank 1 through 15). 

The index of this DataFrame should be the name of the country, and the columns should be ['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015'].

*This step should yeild a DataFrame with 20 columns and 15 entries.*

In [163]:
print("There are {} unique values of Country in our dataframes.".format(
        pd.concat([ScimEn['Country'], energy['Country']]).unique().shape[0]))

There are 250 unique values of Country in our dataframes.

In [164]:
ScimEn['Country'].isin(energy['Country']).value_counts()

True     168
False     23
Name: Country, dtype: int64

In [165]:
result = pd.merge(ScimEn, energy, on='Country', how='left')

In [166]:
result.head(10)

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable
0,1,China,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910
1,2,United States,96661,94747,792274,265436,8.20,230,NaN,NaN,NaN
2,3,Japan,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820
3,4,United Kingdom,20944,20357,206091,37874,9.84,139,NaN,NaN,NaN
4,5,Russian Federation,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680
5,6,Canada,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430
6,7,Germany,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530
7,8,India,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080
8,9,France,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280
9,10,South Korea,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353

In [167]:
GDP.rename(columns={'Country Name':'Country'}, inplace=True)

result['Country'].isin(GDP['Country']).value_counts()

True     166
False     25
Name: Country, dtype: int64

In [168]:
merged_tables = pd.merge(result, GDP[['Country', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]
                   , on='Country', how='left')
merged_tables.set_index('Country', inplace=True)

In [169]:
merged_tables = merged_tables[0:15]

In [170]:
merged_tables

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12
United States,2,96661,94747,792274,265436,8.20,230,NaN,NaN,NaN,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12
United Kingdom,4,20944,20357,206091,37874,9.84,139,NaN,NaN,NaN,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12
Iran,13,8896,8819,57470,19125,6.46,72,NaN,NaN,NaN,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12

### Step 4
The previous question joined three datasets then reduced this to just the top 15 entries. When you joined the datasets, but before you reduced this to the top 15 items, how many entries did you lose?

*This step should yield a single number.*

23 of energy that don't exist in ScimEn + 25 of GDP that don't exist in result of the last merge were lost = 48

### Step 5

#### Answer the following questions in the context of only the top 15 countries by Scimagojr Rank 


What is the average GDP over the last 10 years for each country? (exclude missing values from this calculation.)

*This step should return a Series named `avgGDP` with 15 countries and their average GDP sorted in descending order.*

In [162]:
merged_tables.melt(id_vars=['Rank', 'Documents', 'Citable documents', 'Citations', 'Self-citations',
       'Citations per document', 'H index', 'Energy Supply',
       'Energy Supply per Capita', '% Renewable', 'ratio of Self-Citations to Total Citations', 'HighRenew', 'Continent'], var_name='year', value_name = 'GDP')

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,ratio of Self-Citations to Total Citations,HighRenew,Continent,year,GDP
0,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,0.689313,1,Asia,2006,3.992331e+12
1,2,96661,94747,792274,265436,8.20,230,NaN,NaN,NaN,0.335031,0,North America,2006,1.479230e+13
2,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,0.275997,0,Asia,2006,5.496542e+12
3,4,20944,20357,206091,37874,9.84,139,NaN,NaN,NaN,0.183773,0,Europe,2006,2.419631e+12
4,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,0.362517,0,Europe,2006,1.385793e+12
5,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,0.190369,1,North America,2006,1.564469e+12
6,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,0.195111,1,Europe,2006,3.332891e+12
7,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,0.288973,0,Asia,2006,1.265894e+12
8,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,0.218943,0,Europe,2006,2.607840e+12
9,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,0.197035,0,Asia,2006,9.410199e+11
10,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,0.238364,1,Europe,2006,2.202170e+12
11,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,0.194299,1,Europe,2006,1.414823e+12
12,13,8896,8819,57470,19125,6.46,72,NaN,NaN,NaN,0.332782,0,Asia,2006,3.895523e+11
13,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,0.171939,0,Australia,2006,1.021939e+12
14,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,0.237159,1,South America,2006,1.845080e+12
15,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,0.689313,1,Asia,2007,4.559041e+12
16,2,96661,94747,792274,265436,8.20,230,NaN,NaN,NaN,0.335031,0,North America,2007,1.505540e+13
17,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,0.275997,0,Asia,2007,5.617036e+12
18,4,20944,20357,206091,37874,9.84,139,NaN,NaN,NaN,0.183773,0,Europe,2007,2.482203e+12
19,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,0.362517,0,Europe,2007,1.504071e+12
20,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,0.190369,1,North America,2007,1.596740e+12
21,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,0.195111,1,Europe,2007,3.441561e+12
22,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,0.288973,0,Asia,2007,1.374865e+12
23,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,0.218943,0,Europe,2007,2.669424e+12
24,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,0.197035,0,Asia,2007,9.924316e+11
25,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,0.238364,1,Europe,2007,2.234627e+12
26,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,0.194299,1,Europe,2007,1.468146e+12
27,13,8896,8819,57470,19125,6.46,72,NaN,NaN,NaN,0.332782,0,Asia,2007,4.250646e+11
28,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,0.171939,0,Australia,2007,1.060340e+12
29,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,0.237159,1,South America,2007,1.957118e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
120,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,0.689313,1,Asia,2014,8.230121e+12
121,2,96661,94747,792274,265436,8.20,230,NaN,NaN,NaN,0.335031,0,North America,2014,1.615662e+13
122,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,0.275997,0,Asia,2014,5.642884e+12
123,4,20944,20357,206091,37874,9.84,139,NaN,NaN,NaN,0.183773,0,Europe,2014,2.605643e+12
124,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,0.362517,0,Europe,2014,1.678709e+12
125,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,0.190369,1,North America,2014,1.773486e+12
126,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,0.195111,1,Europe,2014,3.624386e+12
127,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,0.288973,0,Asia,2014,2.200617e+12
128,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,0.218943,0,Europe,2014,2.729632e+12
129,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,0.197035,0,Asia,2014,1.234340e+12
130,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,0.238364,1,Europe,2014,2.033868e+12
131,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,0.194299,1,Europe,2014,1.375605e+12
132,13,8896,8819,57470,19125,6.46,72,NaN,NaN,NaN,0.332782,0,Asia,2014,4.639027e+11
133,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,0.171939,0,Australia,2014,1.272520e+12
134,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,0.237159,1,South America,2014,2.412231e+12
135,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,0.689313,1,Asia,2015,8.797999e+12
136,2,96661,94747,792274,265436,8.20,230,NaN,NaN,NaN,0.335031,0,North America,2015,1.654857e+13
137,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,0.275997,0,Asia,2015,5.669563e+12
138,4,20944,20357,206091,37874,9.84,139,NaN,NaN,NaN,0.183773,0,Europe,2015,2.666333e+12
139,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,0.362517,0,Europe,2015,1.616149e+12
140,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,0.190369,1,North America,2015,1.792609e+12
141,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,0.195111,1,Europe,2015,3.685556e+12
142,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,0.288973,0,Asia,2015,2.367206e+12
143,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,0.218943,0,Europe,2015,2.761185e+12
144,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,0.197035,0,Asia,2015,1.266580e+12
145,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,0.238364,1,Europe,2015,2.049316e+12
146,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,0.194299,1,Europe,2015,1.419821e+12
147,13,8896,8819,57470,19125,6.46,72,NaN,NaN,NaN,0.332782,0,Asia,2015,NaN
148,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,0.171939,0,Australia,2015,1.301251e+12
149,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,0.237159,1,South America,2015,2.319423e+12

In [193]:
avgGDP = merged_tables.T[-10:].sum().sort_values()
avgGDP

Country
Iran                  3.997402e+12
South Korea           1.106715e+13
Australia             1.164043e+13
Spain                 1.418078e+13
Russian Federation    1.565459e+13
Canada                1.660647e+13
India                 1.769297e+13
Italy                 2.120175e+13
Brazil                2.189794e+13
United Kingdom        2.487907e+13
France                2.681725e+13
Germany               3.493025e+13
Japan                 5.542208e+13
China                 6.348609e+13
United States         1.536434e+14
dtype: float64

### Step  6
What is the mean `Energy Supply per Capita`?

*This step should return a single number.*

In [126]:
merged_tables['Energy Supply per Capita'].mean() # nulls included

152.91666666666666

### Step 7
What country has the maximum % Renewable and what is the percentage?

*This step should return a tuple with the name of the country and the percentage.*

In [130]:
max_val = merged_tables['% Renewable'].max()
index = merged_tables['% Renewable'].idxmax()
(index, max_val)

('Brazil', 69.64803)

### Step 8
Create a new column that is the ratio of Self-Citations to Total Citations. 
What is the maximum value for this new column, and what country has the highest ratio?

*This step should return a tuple with the name of the country and the ratio.*

In [131]:
merged_tables['ratio of Self-Citations to Total Citations'] = merged_tables['Self-citations']/merged_tables['Citations']
merged_tables.head()

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,ratio of Self-Citations to Total Citations
Country,,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.75491,...,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,0.689313
United States,2,96661,94747,792274,265436,8.20,230,NaN,NaN,NaN,...,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,0.335031
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.23282,...,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,0.275997
United Kingdom,4,20944,20357,206091,37874,9.84,139,NaN,NaN,NaN,...,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,0.183773
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.28868,...,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,0.362517

In [132]:
(merged_tables['ratio of Self-Citations to Total Citations'].idxmax(), 
 merged_tables['ratio of Self-Citations to Total Citations'].max())

('China', 0.6893126179389422)

### Step 9
Create a new column with a 1 if the country's % Renewable value is at or above the median for all countries in the top 15, and a 0 if the country's % Renewable value is below the median.

*This step should return a series named `HighRenew` whose index is the country name sorted in ascending order of rank.*

In [133]:
median = merged_tables['% Renewable'].median()
merged_tables['HighRenew'] =  merged_tables['% Renewable'].apply(lambda x : 1 if x>=median else 0)
merged_tables

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,...,2008,2009,2010,2011,2012,2013,2014,2015,ratio of Self-Citations to Total Citations,HighRenew
Country,,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,...,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,0.689313,1
United States,2,96661,94747,792274,265436,8.20,230,NaN,NaN,NaN,...,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,0.335031,0
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,...,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,0.275997,0
United Kingdom,4,20944,20357,206091,37874,9.84,139,NaN,NaN,NaN,...,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,0.183773,0
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,...,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,0.362517,0
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,...,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12,0.190369,1
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,...,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12,0.195111,1
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,...,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12,0.288973,0
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,...,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12,0.218943,0
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,...,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12,0.197035,0
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,...,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12,0.238364,1
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,...,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12,0.194299,1
Iran,13,8896,8819,57470,19125,6.46,72,NaN,NaN,NaN,...,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN,0.332782,0
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,...,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12,0.171939,0
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,...,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12,0.237159,1

### Step 10
Use the following dictionary to group the Countries by Continent, then create a dateframe that displays the sample size (the number of countries in each continent bin), and the sum, mean, and std deviation for the estimated population of each country.

```python
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}
```

*This function should return a DataFrame with index named Continent `['Asia', 'Australia', 'Europe', 'North America', 'South America']` and columns `['size', 'sum', 'mean', 'std']`*

In [138]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}


merged_tables['Continent'] = ContinentDict.values()
merged_tables

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Energy Supply,Energy Supply per Capita,% Renewable,...,2009,2010,2011,2012,2013,2014,2015,ratio of Self-Citations to Total Citations,HighRenew,Continent
Country,,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,1.271910e+11,93.0,19.754910,...,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,0.689313,1,Asia
United States,2,96661,94747,792274,265436,8.20,230,NaN,NaN,NaN,...,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,0.335031,0,North America
Japan,3,30504,30287,223024,61554,7.31,134,1.898400e+10,149.0,10.232820,...,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,0.275997,0,Asia
United Kingdom,4,20944,20357,206091,37874,9.84,139,NaN,NaN,NaN,...,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,0.183773,0,Europe
Russian Federation,5,18534,18301,34266,12422,1.85,57,3.070900e+10,214.0,17.288680,...,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,0.362517,0,Europe
Canada,6,17899,17620,215003,40930,12.01,149,1.043100e+10,296.0,61.945430,...,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12,0.190369,1,North America
Germany,7,17027,16831,140566,27426,8.26,126,1.326100e+10,165.0,17.901530,...,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12,0.195111,1,Europe
India,8,15005,14841,128763,37209,8.58,115,3.319500e+10,26.0,14.969080,...,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12,0.288973,0,Asia
France,9,13153,12973,130632,28601,9.93,114,1.059700e+10,166.0,17.020280,...,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12,0.218943,0,Europe
South Korea,10,11983,11923,114675,22595,9.57,104,1.100700e+10,221.0,2.279353,...,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12,0.197035,0,Asia
Italy,11,10964,10794,111850,26661,10.20,106,6.530000e+09,109.0,33.667230,...,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12,0.238364,1,Europe
Spain,12,9428,9330,123336,23964,13.08,115,4.923000e+09,106.0,37.968590,...,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12,0.194299,1,Europe
Iran,13,8896,8819,57470,19125,6.46,72,NaN,NaN,NaN,...,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN,0.332782,0,Asia
Australia,14,8831,8725,90765,15606,10.28,107,5.386000e+09,231.0,11.810810,...,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12,0.171939,0,Australia
Brazil,15,8668,8596,60702,14396,7.00,86,1.214900e+10,59.0,69.648030,...,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12,0.237159,1,South America

In [150]:
merged_tables.groupby('Continent').agg([np.size, np.sum, np.mean, np.std])[['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015']]

              2006                                           2007  \
              size           sum          mean           std size
Continent
Asia           5.0  1.208534e+13  2.417068e+12  2.212428e+12  5.0
Australia      1.0  1.021939e+12  1.021939e+12           NaN  1.0
Europe         6.0  1.336315e+13  2.227191e+12  7.447172e+11  6.0
North America  2.0  1.635677e+13  8.178386e+12  9.353492e+12  2.0
South America  1.0  1.845080e+12  1.845080e+12           NaN  1.0

                                                        2008                \
                        sum          mean           std size           sum
Continent
Asia           1.296844e+13  2.593688e+12  2.332152e+12  5.0  1.343416e+13
Australia      1.060340e+12  1.060340e+12           NaN  1.0  1.099644e+12
Europe         1.380003e+13  2.300005e+12  7.486777e+11  6.0  1.390275e+13
North America  1.665214e+13  8.326068e+12  9.516707e+12  2.0  1.662420e+13
South America  1.957118e+12  1.957118e+12           NaN  1.0  2.056809e+12

               ...          2013               2014                \
               ...          mean           std size           sum
Continent      ...
Asia           ...  3.401622e+12  3.110804e+12  5.0  1.777186e+13
Australia      ...  1.241484e+12           NaN  1.0  1.272520e+12
Europe         ...  2.314700e+12  7.993407e+11  6.0  1.404784e+13
North America  ...  8.752177e+12  9.929885e+12  2.0  1.793010e+13
South America  ...  2.409740e+12           NaN  1.0  2.412231e+12

                                          2015                              \
                       mean           std size           sum          mean
Continent
Asia           3.554373e+12  3.278365e+12  5.0  1.810135e+13  4.525337e+12
Australia      1.272520e+12           NaN  1.0  1.301251e+12  1.301251e+12
Europe         2.341307e+12  8.164677e+11  6.0  1.419836e+13  2.366393e+12
North America  8.965052e+12  1.017041e+13  2.0  1.834118e+13  9.170591e+12
South America  2.412231e+12           NaN  1.0  2.319423e+12  2.319423e+12


                        std
Continent
Asia           3.407928e+12
Australia               NaN
Europe         8.420711e+11
North America  1.043404e+13
South America           NaN

[5 rows x 40 columns]